{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column text">

        <div class="issues">
          {% if page.issue-tag %}
            {% for tag in page.issue-tag %}
              <span>{{ tag }}</span>
            {% endfor %}
          {% endif %}
        </div>
        
        <br>

        <h2>
          <span class="light">
            {{ page.title }}
          </span>
        </h2>
        
        <p>{{ page.description }}</p>

        <br>

        <p class="price">{{ page.price }}</p>

        <br/><br/>
        <a class="button primary" href="{{ page.link }}" target="_blank" onclick="gtag('event','viewProduct',{'event_category':'ecommerce','event_label':'product-{{ page.title }}'});">
          See on Amazon
        </a>
      </div>
      

      <div class="column media">
        <img src="{{ page.thumbnail | relative_url }}" alt="{{ section.media.alt_text }}">
    </div>      
  </div>
</section>
{% endif %}