<section class="block block-media-3">
  <div class="container">

  	{% assign beautyposts = site.posts |  where: 'category_tag', "beauty" %}

	
    <div class="columns">
			{% for post in beautyposts %}

	      <div class="column">
	        <figure>
	          <a href="{{post.url}}">
		          <img src="{{ post.thumbnail }}">
	          </a>
	          {% if post.title %}
	          <figcaption>{{ post.title }} </figcaption>
	          {% endif %}
	        </figure>        
	      </div>

			{% endfor %}
    </div>

  </div>
</section>