<section class="block block-media-3">
  <div class="container">
    <div class="columns">

      <div class="column">
        <figure>
          <a href="{{section.image_1.link}}">
	          <img src="{{ section.image_1.image | relative_url }}" alt="{{ section.image_1.caption }}">
          </a>
          {% if section.image_1.caption %}
          <figcaption>{{ section.image_1.caption }}</figcaption>
          {% endif %}
        </figure>        
      </div>

      <div class="column">
        <figure>
          <a href="{{section.image_1.link}}">
	          <img src="{{ section.image_2.image | relative_url }}" alt="{{ section.image_2.caption }}">
          </a>
          {% if section.image_2.caption %}
          <figcaption>{{ section.image_2.caption }}</figcaption>
          {% endif %}
        </figure>        
      </div>

      <div class="column">
        <figure>
            <a href="{{section.image_1.link}}">
	            <img src="{{ section.image_3.image | relative_url }}" alt="{{ section.image_3.caption }}">
            </a>
            {% if section.image_3.caption %}
            <figcaption>{{ section.image_3.caption }}</figcaption>
            {% endif %}
        </figure>        
      </div>

    </div>
  </div>
</section>